@media(max-width: 992px){
  .navbar i{
    margin-right: 20px;
  }
  .navbar li{
    border: 1px solid #ccc;
  }
}

.green-text{
  color: green;
  font-weight: bold !important;
}
.red-text{
  color: red;
  font-weight: bold;
}
.guard-map{
  height: 70vh!important;
  width: 100%!important;
}
.card{
  height: 85vh!important;
  width: 100%;
}
.

